* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: #d8dcf8;
  --background: #090b1b;
  --primary: #4f2faf;
  --secondary: #060711;
  --accent: #cf2be5;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbarjared {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  height: 16vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  position: relative;
}

.navbar-item {
  position: relative;
  color: var(--text);
  padding: 0 11%;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logo {
  max-height: 100%;
  width: auto;
  padding: 0px;
}

.sec1 {
  background-color: var(--secondary);
  color: var(--text);
  padding: 50px;
}

.sec1 h2 {
  font-size: 4vw;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  right: 23vw;
  font-family: 'Poppins', sans-serif;
}

.box-container {
  display: flex;
  justify-content: center;
}

.smol-box {
  background-color: var(--primary);
  width: 25%; 
  aspect-ratio: 240/460; 
  margin: 0 1%;
  position: relative;
}

.box {
  background-color: var(--primary);
  width: 30%; 
  aspect-ratio: 300/500; 
  margin: 0 1%; 
  position: relative;
}

.big-box {
  background-color: var(--primary);
  width: 35%;
  aspect-ratio: 360/520; 
  margin: 0 1%; 
}

.cover {
  object-fit: cover;
  width: 100%;
}

.footer {
  background-color: var(--background);
  color: var(--text);
  text-align: center;
  padding: 2%;
}

.picture-button {
  background-image: url('path-to-your-image.jpg');
  background-size: cover;
  width: 2%; 
  aspect-ratio: 1/1; 
  cursor: pointer;
  margin-left: 1%; 
  transition: transform 0.3s ease;
}